.router{
    /*
    footer's height: 65px;
    header's height: 100px;
  */
  height: calc(100% - 165px);
}

@keyframes test{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.warning{
  position: fixed;
  width: 400px;
  left: -100px;
  top: 75px;
  padding: 20px;
  transform: rotate(-45deg);
  text-align: center;
  background-color: rgb(0, 83, 217, 0.8);
  color: white;
}

